.container {
  height: 100%;
  width: 100%;
  background: linear-gradient(#7fccf0, #7c6bca);
}

.troll-container {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

@media screen and (min-width: 600px) {
  .troll-container {
    width: 20%;
    margin: auto;
  }
}

.troll {
  width: 380px;
}

@media (min-width: 600px) {
  .troll {
    width: 100%;
  }
}

@keyframes troll-dance {
  0% {
    transform: scaleX(1);
  }
  49.999% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  99.999% {
    transform: scaleX(-1);
  }
}

.animate-troll {
  animation: 2s infinite troll-dance;
}

@keyframes who-message-appear {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-who-message {
  align-self: flex-start;
  animation: 10s infinite who-message-appear;
}

@keyframes sad-message-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-sad-message {
  align-self: flex-start;
  animation: 10s infinite sad-message-appear;
}
